*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

html{
  overflow-x: hidden;
}

.navbar-hover{
  color:#0D0877;
  font-weight: 700;

}
.navbar-hover::after{
  border-bottom: 4px solid #0D0877;

}
.navbar-hover:hover{
  border-bottom: 4px solid #FFC600;
}
.sign-in{
  color:#db2626;
  font-weight: 600;
  background-color: #FEE134 !important;
}
.sign-in:hover{
  color: #fdfdfb !important;
  font-weight: 600;
  background-color: #0D0877 !important;
  border-bottom: 4px solid #0D0877 !important;
}

.bg-breadcrumb{
background-color: #FEE134;
  padding: 70px 0px 70px 0px;
 
}

.yellow-heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FEE134;
}
.blue-heading{
  color: #0D0877;
  font-weight: 700;
}

.yellow-heading{
  font-family: cursive;
  color: #fee134;
  font-weight: 600 !important;
}
.blue-heading{
  font-weight: 700;
  color: #0D0877;
}
.banner-heading{
  color: black;
  font-weight: bolder;
}
.main-heading{
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: #0D0877;
  padding: 120px 0px;
  font-size: 50px;
}
.parg{
  font-weight: 600;
  text-align: justify;
  padding-right: 50px;
  font-size: large;
}
.back-to-top-button {
	position: fixed !important;
  color: #27aae1;
	bottom: 30px;
	right: 20px;
	opacity: 0;
	transition: opacity 0.3s, visibility 0.3s;
	visibility: hidden;
  }
  
  .back-to-top-button.visible {
	opacity: 1;
	visibility: visible;
  }
  
  .back-to-top-button button {
	padding: 12px 12px;
	background-color: #0D0877;
	color: #FEE134;
	border: none;
	border-radius: 2px;
	cursor: pointer;
  transition: all 0.3s ease-in-out;
  } 
  .back-to-top-button :hover{
    transform: translateY(6px)
  } 

.text-para{
  font-size: 20px;
  padding-right: 20px !important;
}
.homebtn{
  background-color: #FFC600 !important;
  border-color: #FFC600 !important;
  color: black !important;
  font-weight: 600 !important;
  padding: 15px 60px !important;
  box-shadow: 10px 10px 10px 2px lightgrey;
  font-size: 20px !important;
}

.homebtn:hover{
  background-color: #0D0877 !important;
  color: aliceblue !important;
  border-color: #0D0877 !important;
  animation: pulse 1s;
  }

.content1{
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('kid2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px;
}
.content2{
  margin-bottom: 150px;
}
.contact-form-heading{
  width: 100%;
  background-color: yellow;
  padding: 50px 0px;  
  text-align: center;
}
.contact-form{
  padding: 50px !important;
  box-shadow: 25px 15px 50px lightgray;
}
.form{
  margin-top: 100px;
  margin-bottom: 100px;
}
.tts-heading{
  padding-left: 50px !important;
}
.address-form{
  padding: 0px 50px 50px 50px;
}
.address-box{
  box-shadow: 25px 15px 50px lightgray;
  padding: 20px 0px 30px 20px; 
}
.add-heading{
  color: gray;
  font-size: 17px;
}
.add-text{
  color: #0D0877;
  font-size: 20px;
  font-weight: 600;
}
.embed-responsive{
  padding-right: 10px;
}
.bg-breadcrumb{
  background-color: #fee134;
  padding: 70px 0px 70px 0px;
}

/* ....................Sidebar.................... */

.tba-heading{
  color: #ffffff;
  font-size: 22px;
}
.dashboardnavbar{
  /* background-image: linear-gradient(rgba(255, 193, 22, 1), rgba(255,255,255, 0.9)); */
  background-color: #FFC211;
  height: 80px;
}

@media (min-width: 992px) {
  .sidebar {
    height: unset!important;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 300px;
  z-index: 600;
  /* background-image: linear-gradient( rgba(70,70,70, 0.9), rgba(69,69,69,0.5)), url('kid2.jpg'); */
  background-image: linear-gradient( rgba(0,0,120, 0.9), rgba(0,0,100,0.5)), url('kid2.jpg');
  background-size: cover;
  background-position: center;
}

.sidebarbtn{
  background-color: transparent !important;
  color: #ffffff !important;
}
.sidebarlink{
  text-decoration: none;
}
.sidebarbtn:hover{
  background-color: #ffffff !important;
  color: #000000 !important;
}
/* .sidebar.show {
  height: 10vh; 
   background-color: #0D0877 !important;
} */

@media (max-width: 992px) {
  .sidebar {
    width: 100%;
  }
}

/* .sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* background-color: #0D0877 !important; 
} */

/* .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px); 
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content.
  /* background-color: #0D0877 !important;
} */

.dashboardbody{
  margin-left: 300px;
}
.dashboardbox{
  background-color: #F7F7F8;
}
.box1{
  background-color: #ffffff;
  max-width: 300px;
  min-height: 150px;
  margin-top: 30px !important;
  margin-left: 75px;
  margin-bottom: 30px;
  border: 1px solid #DFDFDF;
}

.barchart{
  background-color: #ffffff;
  /* min-width: 200px; */
  min-height: 400px;
  margin-top: 30px !important;
  margin-left: 75px;
  margin-bottom: 20px;
  border: 1px solid #DFDFDF;
}
.piechart{
  background-color: #ffffff;
  /* min-width: 200px; */
  min-height: 400px;
  margin-top: 30px !important;
  margin-left: 45px;
  margin-bottom: 20px;
  border: 1px solid #DFDFDF;
}
.boxiconpie{
  font-size: 70px;
  color: #db2626;
}
.boxiconglobe{
  font-size: 70px;
  color: #FFC600;
}
.boxiconbar{
  font-size: 70px;
}
.boxstd{
 display: flex;
 justify-content: end;
  font-size: 40px;
  color: #db2626;
  margin-top: 40px;
}
.boxclass{
  display: flex;
  justify-content: end;
   font-size: 40px;
   margin-top: 40px;
 }
.boxevent{
  display: flex;
  justify-content: end;
   font-size: 20px;
   color: #FFC600;
   margin-top: 40px;
 }
.boxheading{
  color: grey;
}
.profileform{
  background-color: #ffffff;
  min-width: 700px;
  margin-top: 30px !important;
  margin-left: 40px;
  margin-bottom: 20px;
  border: 1px solid #DFDFDF;
}
.myprofilehead{
  color: #33327e;
}
.myprofiletxt{
  font-size: 30px;
  font-weight: bold;
  line-height: 0.5;
}
.profilepic{
  margin-top: 35px !important;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #DFDFDF;
  padding: 0px !important;
  max-height: 500px !important;
 
}
.profilepicback{
  height: 300px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255,255,255,0.6)), url('school.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 150px;
}
.profileimg{
  width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: auto;
}
.stdprofileimg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    margin: auto;
}
.profileformlabel{
  font-size: 14px;
  color: whitesmoke;
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  font-weight: bold;
  background-color: #333280;
}
.profileformlabeladd{
  font-size: 14px;
  color: whitesmoke;
  border: 2px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  width: 580px;
  font-weight: bold;
  background-color: #333280;
}
.profilebtn{
  margin-top: 120px;
}
.classlist{
  background-color: #ffffff;
  margin:  auto !important;
  padding: 20px 0px 20px 70px!important;
  border: 1px solid #DFDFDF;
}
.classbtn{
  padding: 10px 30px !important;
  background-color: #0D0877 !important;
}
.classbtn:hover{
  background-color: #FFC30D !important;
  color: black !important;
}
.btnclasslist{
  padding: 5px 10px !important;
  margin: 0px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  border: 1px solid grey !important;
}
.btnclasslist:hover{
  background-color: #0D0877 !important;
  color: #FFC30D !important;
  border-color: #FFC30D !important;
}
.tablefont{
  font-size: 14px;
  font-weight: bold;
}
.btnstudent{
  float: right;
}
.divcolor{
  background-color: #F2F2F2;
  border: 1px solid #DFDFDF;
  color: #333280;
}
.textcolor{
  color:#333280;
}
.btn-color{
  background-color: #333087 !important;
  color: white !important;
}
.btn-color:hover{
  background-color: #FFC211 !important;
  color: black !important;
  border-color: #FFC211 !important;
}
.activitybox{
  background-color: #ffffff;
  margin:  auto !important;
  padding: 20px 0px 20px 50px!important;
  border: 1px solid #DFDFDF;
}
.actvityboxes{
  padding: 50px 20px !important;
  background-color: #0D0877 !important;
  max-width: 250px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  color: white !important;
}
.daywiseboxes{
  padding: 50px 30px !important;
  background-color: #0D0877 !important;
  max-width: 250px !important;
  font-size: 30px !important;
  font-weight: bold !important;
  color: white !important;
}
.textdecor{
  text-decoration: none !important;
  color: white !important;  
}
.txtspc{
  padding: 60px !important;
}
.calendardiv{
  background-color: #519365;
}

.fs-calendar{
  font-size: 30px;
}
.border{
  border: 1px solid #90EE90;
  border-radius: 10px;
}
.datefs{
  font-size: 14px;
}
.boxsize{
  width: 168px !important;
}
.eventheading{
  text-decoration: none;
  color: #0D0877;
}

/* .........................Sidebar......................... */